<% provide(:title, "About") %>

<div class = "about_page">
<h1>DokusyoLogの使い方</h1>
  <p>日本では年間８万冊以上、ビジネス書だけでも年6,000冊もの本が新たに発売されています。そんななか、
  多忙な人が、スキマ時間を利用して、本の感想を投稿したり、他人が読んだ本の感想の投稿記事を見ることで、本の内容に関する情報共有をし、スムーズに本の購入やスキルアップにつなげるサービスです。</p>

<h2>いつでもどこでも読めます</h2>
  <p>PC・スマホ・タブレット端末に対応しており、通勤時間や休憩の合間など、いつでもどこでも利用することができます。</p>

<h2>DokusyoLogの主な機能</h2>
  <p>読書した本の感想記事の投稿、編集、閲覧機能、他人の投稿記事の検索機能</p>

<h2>全機能が無料で利用可能です</h2>
  <p>DokusyoLogは完全無料サービスです。早速ログインして使ってみてください。</p>
</div>
