<% provide(:title, "DokusyoLogとは？") %>

<div class = "about_page">
<h1>1.DokusyoLogの使い方</h1>
  <p>日本では年間８万冊以上、ビジネス書だけでも年6,000冊もの本が新たに発売されています。そんななか、
  多忙な人が、スキマ時間を利用して、本の感想を投稿したり、他人が読んだ本の感想の投稿記事を見ることで、本の内容に関する情報共有をし、スムーズに本の購入やスキルアップにつなげるサービスです。</p>

  <h1>2.DokusyoLogの主な機能</h1>
    <p>読書した本の感想記事の投稿機能、他のユーザーが投稿した感想記事の検索、閲覧機能</p>

<h1>3.いつでもどこでも読めます</h1>
  <p>PC・スマホ・タブレット端末に対応しており、通勤時間や休憩の合間など、いつでもどこでも利用することができます。</p>



<h1>4.全機能が無料で利用可能です</h1>
  <p>DokusyoLogは完全無料サービスです。早速ログインして使ってみてください。</p>
</div>
