<div class="current_user_info">
<h1>
  <% if current_user.image? %>
    <%= image_tag current_user.image.url %>
  <% end %>
  <%= current_user.name %>
</h1>
<span><%= pluralize(current_user.microposts.count, "記事の投稿") %></span>
</div>
