<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "DokusyoLogとは？",   about_path %></li>
      <li><%= link_to "感想記事を投稿する", root_path %></li>
      <li><%= link_to "全てのユーザーの感想記事一覧", index_path %></li>
      <li><%= link_to "ユーザー一覧", users_path %></li>
    </ul>
  </nav>
</footer>
